.fixed-menu {
  position: fixed;
  top: 50%;
  right: 65px;
  transform: translateY(-50%);
  z-index: 100;

  @media (max-width: 1440px) {
    right: 15px;
  }

  @media (max-width: 1280px) {
    display: none;
  }

  ul {
    li {
      display: block;
      text-align: right;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        display: inline-block;
        padding: 15px 15px 15px 0;
        border-radius: 30px;
        @include transition;

        &.active, &:hover {
          background-color: $main-color;

          span {
            opacity: 1;
            visibility: visible;
            transform: translateX(0);
          }

          mark {
            background: #fff;
          }
        }

        span {
          display: inline-block;
          vertical-align: middle;
          font-size: 24px;
          line-height: 26px;
          font-weight: 600;
          text-transform: uppercase;
          color: #fff;
          opacity: 0;
          visibility: hidden;
          padding: 0 30px;
          transform: translateX(20px);
          @include transition;
        }

        mark {
          display: inline-block;
          vertical-align: middle;
          width: 30px;
          height: 30px;
          padding: 0;
          background: $main-color;
          border-radius: 50%;
          @include transition;
        }
      }
    }
  }
}